<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521831777298-88krnhh2jjo8ektv5au1lh1jv183eja8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521831777298-88krnhh2jjo8ektv5au1lh1jv183eja8</string>
	<key>API_KEY</key>
	<string>AIzaSyCspN6c49Nqomr4KUtXi7414V4USeDr3LQ</string>
	<key>GCM_SENDER_ID</key>
	<string>521831777298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vladimir.Photos</string>
	<key>PROJECT_ID</key>
	<string>photos-11256</string>
	<key>STORAGE_BUCKET</key>
	<string>photos-11256.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521831777298:ios:747050d0d7a9a2606684cb</string>
	<key>DATABASE_URL</key>
	<string>https://photos-11256.firebaseio.com</string>
</dict>
</plist>